<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @current_user %></h1>
    <p>
      THANK YOU FOR YOUR ORDER!
          <table class="table table-bordered">

    <p>blah blah blah</p>
  </body>
</html>